<div class="row tab-pane">
	<div class="col-xs-12 panel">
		<div class="row panel-body">
			<ol class="breadcrumb animated headShake">
				<li><a href="#sales">Sales</a></li>
				<li>Add Sale</li>
			</ol>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>Add Sale</span>
					<span class="pull-right">Date: <strong>{{date  | date : "MMM d, y"}}</strong></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 pull-left"><span>Approved by: <span class="label label-default">Jacob {{sale.staff}}</span></span></div>
						<div class="col-xs-6 pull-right pricetag">
							<strong>Total</strong>
							<div class="price text-primary text-right">$0.00{{total | currency:"$"}}</div>
						</div>
					</div>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th class="col-xs-1"></th>
								<th class="col-xs-1">#</th>
								<th class="col-xs-4">Product</th>
								<th class="col-xs-2">Unit Price</th>
								<th class="col-xs-2">Qty.</th>
								<th class="col-xs-3 text-right">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="animated flipInX" data-ng-repeat="item in cart" onclick="" >
								<td class="text-right" style="cursor: pointer"><a onclick="removeItem(item);"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
								<td>{{$index+1}}</td>
								<td>{{item.product }}</td>
								<td>${{item.unitprice }}</td>
								<td>{{item.qty }}</td>
								<td class="text-right sum">${{(item.unitprice*item.qty)|number:2}}</td>
							</tr>
							<tr    class="">
								<td><span class="glyphicon glyphicon-delete"></span></td>
								<td>{{cart.length+1}}</td>
								<td><input type="text" class="form-control" id="product_name" data-ng-model="toAdd.product"></td>
								<td> {{toAdd.unit_price | currency:"$"}}</td>
								<td><input type="number" class="form-control" id="qty" data-ng-model="toAdd.qty"></td>
								<td class="text-right sum">{{(toAdd.unit_price*toAdd.qty) | currency:"$"}}</td>
								<td class="sr-only"><a href="#sales/{{sale.id}}" id="edit-1" class="sr-only">{{sale.id}}</a></td>
							</tr>
							<tr data-ng-click="addItem(toAdd); toAdd=null;" style="cursor: pointer">
								<td class="text-center" colspan="6"><span class="glyphicon glyphicon-plus-sign"></span> Add Item </td>
							</tr>
						</tbody>
						<tfoot >
						
						</tfoot>
					</table>
				</div>
			</div>
		
		</div>
	</div>
</div>