<div class="row tab-pane">
	<div class="col-xs-12 panel ">
		<div class="row panel-heading">
			<a href="#addItem" class="btn btn-primary animated headShake" role="button"> <span class="glyphicon glyphicon-plus-sign"></span> Add Item</a>
			<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-default">
							<input type="radio" name="day"> Daily
					</label>
					<label class="btn btn-default">
							<input type="radio" name="week"> Weekly
					</label>
					<label class="btn btn-default">
							<input type="radio" name="month"> Monthly
					</label>
			</div>
		</div>	
		
		<div class="container" data-ng-controller="inventoryModal">
			<button class="btn btn-primary animated headShake" role="button" data-ng-click="open()">Add Item Test</button>
			<div data-modal="showModal" data-close="close()">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header model-primary">
							<span>Add Item</span>
							<span class="pull-right">Date: <strong>{{date  | date : "MMM d, y"}}</strong></span>
						</div>
						<div class="modal-body row">									
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-6 pull-left"><span>Approved by: <span class="label label-default">Jacob {{sale.staff}}</span></span></div>
									<br>
									<br>
								</div>
								
								<div class="row">
									<div class="col-xs-3">
										<label for="batch_id">Batch</label>
									</div>
									<div class="col-xs-2">
										<label for="shelf_no">Shelf No.</label>
									</div>
									<div class="col-xs-3">
										<label for="qty">Qty.</label>
									</div>
									<div class="col-xs-4">
										<label for="expiry">Expiry Date</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3">
										<input type="number" class="form-control" id="batch_id" min="1" data-ng-model="toAdd.batch_id">
									</div>
									<div class="col-xs-2">
										<input type="number" class="form-control" id="shelf_no" min="1" data-ng-model="toAdd.shelf_no">
									</div>
									<div class="col-xs-3">
										<input type="number" class="form-control" id="qty" min="1" data-ng-model="toAdd.qty">
									</div>
									<div class="col-xs-4">
										<input type="date" class="form-control" id="expiry" data-ng-model="toAdd.expiry">
									</div>
								</div>
								<hr>
								<div class="row">
									
									<div class="col-xs-6">
										<label for="manufacturer">Manufacturer</label>
									</div>
									<div class="col-xs-6">
										<label for="product_name">Product</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<input type="text" class="form-control" id="manufacturer" data-ng-model="toAdd.manufacturer">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" id="product_name" data-ng-model="toAdd.product">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-xs-4">
										<label for="category">Category</label>
									</div>
									<div class="col-xs-8">
										<label for="desc">Description</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<input type="text" class="form-control" id="category" data-ng-model="toAdd.category">
									</div>
									<div class="col-xs-8">
										<input type="text" class="form-control" id="desc" data-ng-model="toAdd.desc">
									</div>
								</div>
								
								
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" data-ng-click="addItem(item); toAdd=null;">Confirm</button>
							<button class="btn btn-danger" data-ng-click="close()">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" data-ng-controller="inventoryModal">
			<button class="btn btn-primary animated headShake" role="button" data-ng-click="open()">Inspect Item Test</button>
			<div data-modal="showModal" data-close="close()">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header model-primary">
							<h1 class="text-center">Actavis Doxycycline Capsules</h1>
						</div>
						<div class="modal-body row">
							<div class="col-xs-4">
								<img src="img/drug1.svg" alt="drug" draggable="false">
								<hr>
								<p><label>Name:</label> <span> Doxycycline</span></p>
								<p><label>Category:</label> <span> Antibiotic</span></p>
								
								<p><label>Price:</label> <span> {{price | currency:'$':2}}</span>
								<span class="glyphicon glyphicon-pencil" data-ng-hide="editPrice" data-ng-click="editPrice = true"  style="cursor: pointer"></span>
								<input type="number" class="form-control" value="6.25" step="0.05" min="0" data-ng-model="price" data-ng-show="editPrice" data-ng-model-options="{updateOn: 'blur'}" 
									   data-ng-blur="editPrice = false"/></p>
								
								<label>Reorder limit:</label><span> {{reorderLimit}}</span>
								<span class="glyphicon glyphicon-pencil" data-ng-hide="editLimit" data-ng-click="editLimit = true"  style="cursor: pointer"></span>
								<div data-ng-show="editLimit">
									<input class="bar" type="range" max="999999" data-ng-model="reorderLimit" data-ng-blur="editLimit = false">
								</div>
								
							</div>
							<div class="col-xs-8">
								<table class="table">
									<thead>
										<tr>
											<th>Details</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Batch ID</td>
											<td>1</td>
										</tr>
										<tr>
											<td>Expiry Date</td>
											<td>{{date | date : "MMM d, yyyy"}}</td>
										</tr>
										<tr>
											<td>Shelf No.</td>
											<td>1</td>
										</tr>
										<tr>
											<td>Qty.</td>
											<td>47</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" data-ng-click="save(); close()">Save Changes</button>
							<button class="btn btn-danger" data-ng-click="close()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>