<div class="row tab-pane">
	<div class="col-xs-12 panel ">
		<div class="row panel-heading">
			<a href="#addItem" class="btn btn-primary animated headShake" role="button"> <span class="glyphicon glyphicon-eye-open"></span> View Inventory</a>
			<a href="#addItem" class="btn btn-primary animated headShake" role="button"> <span class="glyphicon glyphicon-plus-sign"></span> Add Item</a>
			<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-default">
							<input type="radio" name="day"> Daily
					</label>
					<label class="btn btn-default">
							<input type="radio" name="week"> Weekly
					</label>
					<label class="btn btn-default">
							<input type="radio" name="month"> Monthly
					</label>
			</div>
		</div>
	</div>
</div>