<div class="row tab-pane">
	<div class="col-xs-12 panel ">
		<div class="row panel-heading" >
			<div class="pull-left">
				<a href="#addItem" class="btn btn-primary animated headShake" role="button"> <span class="glyphicon glyphicon-plus-sign"></span> Add Item</a>
				<button class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span> Export</button>
				<button class="btn btn-link"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
				<button class="btn btn-link"><span class="glyphicon glyphicon-sort-by-order-alt"></span></button>
			</div>
			<div class="pull-right">
				<form class="navbar-form" role="search">
					<div class="input-group add-on">
						<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
			</form>
			</div>
		</div>
		<div class="row panel-body">
				<div>
						<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 tile" data-ng-repeat="product in inventory">
							<h5 class="text-center">{{product.name}}</h5>
							<img class="img-responsive" src="img/{{product.type}}.svg" alt="{{product.type}}">
							<p class="text-right">
								<span class="primary qty">
									{{product.qty}}
								</span>
							</p>
						</div>
				</div>
		</div>
		<div class="container">
			<div data-ng-controller="myModalCtrl">
				<div data-modal="showModal" data-close="close()">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="text-center">Product Name</h1>
							</div>
							<div class="modal-body row">
								<div class="col-xs-4">
									<img src="img/drug1.svg" alt="drug">
									<hr>
									<p>Name: Doxycycline</p>
									<p>Type: Bacterial</p>
									<p>Category: Antibiotic</p>
									<p>Price: $6.25</p>
									<p>Reorder limit:</p>
									<p>
										<div id="slider">
											<input class="bar" type="range" id="rangeinput" value="50" onchange="rangevalue.value=value"/>
											<span class="highlight"></span>
											<output id="rangevalue">50</output>
										</div>
											<input class="slider-selection slider slider-horizontal" type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
									</p>
								</div>
								<div class="col-xs-8">
									<table class="table">
										<thead>
											<tr>
												<th>Details</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Batch ID</td>
												<td>1</td>
											</tr>
											<tr>
												<td>Expiry Date</td>
												<td>{{date | date : "MMM d, yyyy"}}</td>
											</tr>
											<tr>
												<td>Shelf No.</td>
												<td>1</td>
											</tr>
											<tr>
												<td>Qty.</td>
												<td>47</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger" data-ng-click="close()">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>