<div class="row tab-pane">
	<div class="col-xs-2">
	</div>
	
	<div class="col-xs-8 panel tile-container">
		<div class="row offset">
			<div class="btn-group col-xs-12">
				<button type="button" class="btn btn-default btn-lg col-xs-1"><span class="glyphicon glyphicon-triangle-left"></span></button>
				<button type="button" class="btn btn-default btn-lg col-xs-2"><span class="not-present">2015</span></button>
				<button type="button" class="btn btn-default btn-lg col-xs-6"><span>2016</span></button>
				<button type="button" class="btn btn-default btn-lg col-xs-2 year-disabled"><span class="not-present">2017</span></button>
				<button type="button" class="btn btn-default btn-lg col-xs-1 disabled"><span class="glyphicon glyphicon-triangle-right"></span></button>
			</div>
		</div>
		<div class="row offset">
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">January</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">February</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">March</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">April</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">May</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">June</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">July</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">August</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month">
				<h5 class="text-center month-text">September</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month-disabled">
				<h5 class="text-center month-text">October</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month-disabled">
				<h5 class="text-center month-text">November</h5>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 month-disabled">
				<h5 class="text-center month-text">December</h5>
			</div>
		</div>
	</div>
	
	<div class="col-xs-2">
	</div>
</div>