<div class="row tab-pane">
	<div class="col-xs-3">
	</div>
	
	<div class="col-xs-9 panel tile-container">
		<div class="row">
			YEAR
		</div>
		<div class="row offset">
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">January</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">February</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">March</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">April</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">May</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">June</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">July</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">August</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">September</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">October</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">November</h5>
			</div>
			<div class="col-xs-4 col-md-3 col-lg-2 tile">
				<h5 class="text-center month">December</h5>
			</div>
		</div>
	</div>
</div>