<div class="row tab-pane">
	<div class="col-xs-12 panel">
		<div class="row panel-body">
			<ol class="breadcrumb animated headShake">
				<li><a href="#reports">Reports</a></li>
				<li>{{year}}</li>
				<li>{{month | date : "LLLL"}}</li>
			</ol>
			<p>
			<h4>Montly Sales Report
			<span class="pull-right"><span class="label label-primary">{{month | date : "LLLL"}} / {{year}}</span></span></h4>
			</p>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="col-xs-6">Day</th>
						<th class="col-xs-6">Revenue</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animated flipInX" data-ng-repeat="item in sale.items">
						<td>{{$index+1}}</td>
						<td>{{item.description }}</td>
						<td>${{item.unitPrice }}</td>
						<td>{{item.quantitySold }}</td>
						<td class="text-right sum">{{(item.unitPrice*item.quantitySold) | currency:"$"}}</td>
					</tr>
				</tbody>
				<tfoot >
					<tr>
						<td colspan="4">Total Payable</td>
						<td class="text-right">{{sum | currency:"$"}}</td>
					</tr>
					<tr>
						<td colspan="4">Total Paid</td>
						<td class="text-right">{{sale.paid | currency:"$" }}</td>
					</tr>
					<tr>
						<td colspan="4">Change</td>
						<td class="text-right">{{ sale.paid - sum | currency:"$"}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>