<div class="row tab-pane">
	<div class="col-xs-12 panel">
		<div class="row panel-body">
			<ol class="breadcrumb animated headShake">
				<li><a href="#reports">Reports</a></li>
				<li>{{year}}</li>
				<li>{{month | monthName}}</li>
			</ol>
			<div>
				<h4>Montly Sales Report
				<span class="pull-right"><span class="label label-primary">{{month | monthName}} / {{year}}</span></span></h4>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="col-xs-6">Day</th>
							<th class="col-xs-6 text-right">Revenue</th>
						</tr>
					</thead>
					<tbody>
						<tr class="animated flipInX" data-ng-repeat="sale in sales">
							<td>{{sale.date}}</td>
							<td>{{sale.total}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td >Total Revenue</td>
							<td class="text-right">{{0 | currency:"$"}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div>
				<h4>Montly Sales of Items</h4>
				<div class="col-xs-12 col-lg-6" data-ng-repeat="item in items">
					<h5 class="table-header">{{item.type | uppercase}}</h5>
					<p class="text-center no-data" data-ng-hide="calculateTotalForType(item)>0">
						No any {{item.type}}s are sold during this period
					</p>
					<div class="col-xs-12 chart chart" data-ng-show="calculateTotalForType(item)>0" data-ng-repeat="drug in item.drugs">
						<p class="text-center no-data" data-ng-hide="calculateTotalForDrug(drug.products)>0">
							No {{drug.drug}} {{item.type}}s are sold
						</p>
						<div class="row chart-data" data-ng-show="calculateTotalForDrug(drug.products)>0">
							<div class="col-xs-10-offset-1 chart-data-row" data-ng-repeat="product in drug.products" >
								<div class="col-xs-3 chart-bar-label text-right">
									{{product.name}}
								</div>
								<div class="col-xs-7" >
									<div class="chart-bar" data-ng-style="{width: calculateWidth(product.sold, drug.products) + '%'}"></div>
								</div>
								<span class="chart-bar-label primary">{{product.sold}}</span>
							</div>
							<div class="row">
								<h6 class="text-center"><em>{{drug.drug}}</em></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>