
img.logo
{
	width: 38px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 2px 2px 2px 2px;
}

img.logo-medium
{
	width: 20%;
	min-width: 100px;
	max-width: 150px;
}

a.logo
{
	text-decoration: none;
	color: black;
}

span.logo
{
	vertical-align:sub;
	font-size: 20px;
	font-weight: 200;
}

h1.logo
{
	font-weight: 200;
}

.form-inline div div div
{
	padding: 2px;
}
.progress
{
	height: 10px;
}

.description
{
	border-left: 1px #c9c9c9 solid;
	margin-left: 10px;
	padding-left: 10px;
	align-content: center;
}

td.sum
{
	border-left: 1px solid #c1c1c1;
}

ul.nav-tabs li:hover
{
	animation: background-color 3s ease;
}

.panel-primary .panel-heading
{
	background-color: rgba(223, 45, 28, 0.8);
	background-image: url(../img/greyzz.png);
	background-blend-mode:multiply;
}
.price
{
	font-size: 32pt;
	font-weight: 200;
}

.pricetag
{
	line-height: 18pt;
	text-align: right;
	margin-right: 12pt;
	border: 1px #df2d1c dashed;
	width: auto;
	height: 48pt;
	border-radius: 5px;
}

.primary
{
	color: #df2d1c;
}

.invalid
{
	border: 1px red solid;
	color: #df2d1c;
}

.invalid
{
	border: 1px red solid;
	color: #df2d1c;
}

img.loading {
		width: 12px;
		height: 12px;
		-webkit-animation:spin 0.5s linear infinite;
		-moz-animation:spin 0.5s linear infinite;
		animation:spin 0.5s linear infinite;
}

img.inverted
{
	-webkit-filter: brightness(10);
  filter: brightness(10);
}

div.loading
{
	height: 12px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.higher
{
	padding-left: inherit;
	padding-top: 6px;
	position: absolute;
	z-index: 1;
}

.model-primary
{
	color: white;
	border-radius: 4px 4px 0px 0px;
	background-color: rgba(223, 45, 28, 0.9);
	background-image: url(../img/greyzz.png);
	background-blend-mode:multiply;
}

.modal-backdrop
{
	z-index: 0;
}

div.model
{
	z-index: 500;
}

body
{
	background-color: rgba(255, 255, 255, 0.69);
	background-image: url("../img/greyzz.png");
	background-repeat: repeat;
}