
img.logo
{
	width: 38px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 2px 2px 2px 2px;
}

img.logo-medium
{
	width: 20%;
	min-width: 100px;
	max-width: 150px;
}

a.logo
{
	text-decoration: none;
	color: black;
}

span.logo
{
	vertical-align:sub;
	font-size: 20px;
	font-weight: 200;
}

h1.logo
{
	font-weight: 200;
}

.form-inline div div div
{
	padding: 2px;
}
.progress
{
	height: 10px;
}

.description
{
	border-left: 1px #c9c9c9 solid;
	margin-left: 10px;
	padding-left: 10px;
	align-content: center;
}

td.sum
{
	border-left: 1px solid #c1c1c1;
}

ul.nav-tabs li:hover
{
	animation: background-color 3s ease;
}

.panel-primary .panel-heading
{
	background-color: rgba(223, 45, 28, 0.8);
	background-image: url(../img/greyzz.png);
	background-blend-mode:multiply;
}
.price
{
	font-size: 32pt;
	font-weight: 200;
}

.toprint
{
	background-color: white;
}

.pricetag
{
	line-height: 18pt;
	text-align: right;
	margin-right: 12pt;
	border: 1px #df2d1c dashed;
	width: auto;
	height: 48pt;
	border-radius: 5px;
}

.primary
{
	color: #df2d1c;
}

.drug
{
	font-style: italic;
}
.invalid
{
	border: 1px red solid;
	color: #df2d1c;
}

.invalid
{
	border: 1px red solid;
	color: #df2d1c;
}

img.loading {
		width: 12px;
		height: 12px;
		-webkit-animation:spin 0.5s linear infinite;
		-moz-animation:spin 0.5s linear infinite;
		animation:spin 0.5s linear infinite;
}

img.inverted
{
	-webkit-filter: brightness(10);
  filter: brightness(10);
}

div.loading
{
	height: 12px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.higher
{
	padding-left: inherit;
	padding-top: 6px;
	position: absolute;
	z-index: 1;
}

.model-primary
{
	color: white;
	border-radius: 4px 4px 0px 0px;
	background-color: rgba(223, 45, 28, 0.9);
	background-image: url(../img/greyzz.png);
	background-blend-mode:multiply;
}

/* Modal */

.modal-dialog
{
	margin-top: 100px;
}

.side-panel
{
	border-right: 1px #c6c6c6 solid;
}
/* <Search> */

.add-on 
.input-group-btn > 

.btn {
  border-left-width:0;left:-2px;
  
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}
/* stops the glowing blue shadow */
	

.add-on .form-control:focus {
 
	box-shadow:none;
 -webkit-box-shadow:none; 
 
	border-color:#cccccc; 

}


.navbar-nav:last-child{ 
	border-right:0
}

/* </Search> */


	
.tile-container
{

	background-color:transparent;

}



.tile
{
	
	display:inline-block;
	
	background: white;

	height: 200px;
	
	transform: scale(0.95);
	z-index: 0;
	
	cursor: pointer;
	
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	
	transition: background-color 0.5s ease,  box-shadow 0.5s, transform 0.5s ease, z-index 0.5s;

}



.tile:hover
{
	
	transform: scale(1.05);
	z-index: 1;

	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);

	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);

	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);

	transition:  box-shadow 0.5s, transform 0.5s ease, z-index 0.5s;
}



.tile h5
{

	text-shadow: 0 0 5px white;

}



.tile-img
{

	height: 50%;

	margin: auto;

	position: fixed; /*or absolute*/
	left: 50%;
  top: 50%;

  	-webkit-transform: translate(-50%,-50%);

  	-moz-transform: translate(-50%,-50%);

  	-o-transform: translate(-50%,-50%);

  	-ms-transform: translate(-50%,-50%);

	transform: translate(-50%,-50%);

	z-index: -1;

}



.tile-qty
{

	position: absolute;

    	bottom:0;
 
	right:0;

	margin-right: 10px;

}


.qty
{

	font-size: 2em;
	margin-bottom: 0px;

}



.low
{

	border-top-left-radius: 0px;

	border-bottom-left-radius: 0px;
	z-index: 1;

	position:fixed;
	bottom:0;

	left:0;
	font-size: 12pt;

	margin-bottom: 8px;

	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);

	-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);

	box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);

}

#left {
	position: relative;
	z-index: 1;
}

#previouspreviousYear{
	position: relative;
	z-index: 0;
	width: 0%;
	height: 46px;
	font-size: 0px;
	left: -33px;
}

#previousYear{
	position: relative;
	z-index: 0;
}

#currentYear{
	position: relative;
	z-index: 0;
}

#nextYear{
	position:relative;
	z-index: 0;
}

#nextnextYear{
	position: relative;
	z-index: 0;
	width: 0%;
	height: 46px;
	font-size: 0px;
	left: 30px;
}

#right{
	position: absolute;
	z-index: 1;
	left:90.4%;}

.previouspreviousYearAnimateR
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: previouspreviousMoveR 5s reverse;
}

.previousYearAnimateR
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: previousMoveR 5s reverse;
}

.currentYearAnimateR
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: currentMoveR 5s reverse;
}

.nextYearAnimateR
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: nextMoveR 5s reverse;
}

.previousYearAnimateL
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: previousMoveL 0.5s reverse;
}

.currentYearAnimateL
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: currentMoveL 0.5s reverse;
}

.nextYearAnimateL
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: nextMoveL 0.5s reverse;
}

.nextnextYearAnimateL
{
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	animation: nextnextMoveL 0.5s reverse;
}

@keyframes previouspreviousMoveR {
    0% {width:0%; left:-33px;}
	70% { width:16.666666667%; font-size:18px;}
	100% { width:16.666666667%; font-size:18px; left:0px;} 
}

@keyframes previousMoveR {
    0% {width:16.666666667%; left: -33px;}
    100% {width:50%; left: 0px;}
}

@keyframes currentMoveR {
    0% {width:50%; left: -33px;}
    100% {width:16.666666667%; left: 0px;}
}


@keyframes nextMoveR {
    0% {width:16.666666667%; height: 46px; left: -33px;}
	70% {width:8%; height: 46px; font-size:0px; left: -13px;}
    100% {width:0%; height: 46px; font-size:0px; left: 0px;}
}

		
@keyframes previousMoveL {
    0% {width:16.666666667%; height:46px; left: 0px;}
    100% {width:0%; height:46px; font-size:0pt; left:-8%;}
}

@keyframes currentMoveL {
    0% {width:50%; left: 0px;}
    100% {width:16.666666667%; left: -33px;}
}


@keyframes nextMoveL {
    from {width:16.666666667%; left: 0px;}
    to {width:50%; left: -33px;}
}

@keyframes nextnextMoveL {
	0% {width:0%; left:5.5%;}
	70% { width:16.666666667%; font-size:18px; left:-31px;}
	100% { width:16.666666667%; font-size:18px; left:-33px;} 
}

.month-text
{
	font-size: 2em;
	line-height: 180px;
}

.month
{
	display:inline-block;
	background: white;
	height: 200px;
	transform: scale(1);
	z-index: 0;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	transition: background-color 0.5s ease,  box-shadow 0.5s, transform 0.5s ease, z-index 0.5s;
}

.monthDisabled
{
	display:inline-block;
	background: #D5D5D5;
	height: 200px;
	transform: scale(1);
	z-index: 0;
	cursor: not-allowed;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
	transition: background-color 0.5s ease,  box-shadow 0.5s, transform 0.5s ease, z-index 0.5s;

	color: #909090
}

.month:hover
{
	background: #EEEEEE;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.5);
	transition:  box-shadow 0.5s, transform 0.5s ease, z-index 0.5s;
}

.not-present
{
	color: #A0A0A0
}


.offset
{

	margin-top: 50px;

}


.tab-pane
{

	margin-top: 90px;

}


nav
{

	background-color: rgba(255, 255, 255, 0.69);

	background-image: url("../img/crossword.png");

	background-repeat: repeat;

}



.nav-tabs {

	border-bottom: 1px transparent solid;

}



.navbar-fixed-top
{

}



.toolbar
{

	width: inherit;

	position: fixed;

	z-index: 2;

	background-image: url(../img/greyzz.png);

	background-blend-mode:multiply;

	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);

	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);

	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);

}



.floating-action{

    	position:fixed;

    	bottom:0;

    	right:0;

	margin-bottom: 20px;

	margin-right: 20px;

}



.floating-action-btn{

	width: 50px;
	height: 50px;

	padding-top: 0px;

	font-size: 30px;

	font-weight: 200;

	border-radius: 30px;

	outline: none;

	
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}



.floating-action-btn:focus{

	outline: none;

}
/* animation */


.wrapper{

	position: relative;
	height: 120px;

}

.reveal-animation{

	position: absolute;

	top: 0;

  	left: 0;

}



tr.editing
{

	color: #df2d1c;

	font-weight:bold;

	background-image: url(../img/greyzz.png);

	background-blend-mode:multiply;

}



body
{

	background-image: url(../img/pixel_weave.png);

}